# Importing libraries

In [1]:
#import libraries, create pathname
import pandas as pd
import numpy as np
import os
path=r'/Users/evancarr/Desktop/CF Exercises/Instacart Basket Analysis'

In [5]:
#importing orders_perfected.pkl
orders_perfected=pd.read_csv(os.path.join(path, '02 Data','Prepared Data','Perfected Data','orders_perfected.csv'))

In [6]:
#importing orders_products_prior.csv
ords_prods_prior=pd.read_csv(os.path.join(path,'01 Project', 'orders_products_prior.csv',))

In [9]:
orders_perfected.head()

,Unnamed: 0,order_id,customer_number,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [10]:
ords_prods_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [11]:
#dropping 'Unnamed: 0' column
orders_perfected=orders_perfected.drop(columns=['Unnamed: 0'])

In [13]:
orders_perfected.head()

,order_id,customer_number,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

# Question 1
## Merging orders_perfected & ords_prods_prior

In [22]:
ords_prods_combined= orders_perfected.merge(ords_prods_prior, on=['order_id'], how='outer')

In [23]:
ords_prods_combined.head()

,order_id,customer_number,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0
1,2539329,1,1,2,8,NaN,14084.0,2.0,0.0
2,2539329,1,1,2,8,NaN,12427.0,3.0,0.0
3,2539329,1,1,2,8,NaN,26088.0,4.0,0.0
4,2539329,1,1,2,8,NaN,26405.0,5.0,0.0

### Checking for duplicates

In [26]:
#checking for duplicates
ords_prods_combined[ords_prods_combined.duplicated()]

Empty DataFrame
Columns: [order_id, customer_number, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order, product_id, add_to_cart_order, reordered]
Index: []

No duplicates found

In [27]:
ords_prods_combined.shape

(32640698, 9)

In [28]:
orders_products_prior.shape

NameError: name 'orders_products_prior' is not defined

## Exporting orders_products_combined as 'ETC_orders_products_combined'

In [29]:
ords_prods_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ETC_ords_prods_combined.pkl'))